#home{
  .info{
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    font-family: cursive;
    margin-bottom: 3rem;
  }
  
  #flash_background{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: white;
  }
  
  #flash{
    position: absolute;
    display: block;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, blue);
    box-shadow: 0 0 30px blue;
    animation: flash-anim 2s linear infinite;
  }
  
  .info img{
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1%;
  }
  
  #info_text{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  #about{
    width: 60%;
  }
  
  #contact{
    width: 40%;
    border-left: solid 5px blue;
    margin-left: 2rem;
    padding-left: 2rem;
  }
  
  #about > h1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: default;
  }
  
  #about > h1:hover {
    background: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px blue,
                0 0 25px blue,
                0 0 50px blue,
                0 0 100px blue;
  }
  
  #about > h1::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 0;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
  }
  
  #about > h1::after{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 0;
    right: 0;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
  }
  
  .skills, .experience, .education {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--color);
    margin-bottom: 2rem;

    .tab {
      overflow: hidden;
      position: relative;
      border-bottom: solid 1px;
      padding: 0 12px;
      border-color: var(--color);

      #changer{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        margin-right: 10px;

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;

          input { 
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color);
            transition: .4s;
            border-radius: 34px;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
          }

          input:checked + .slider:before {
            transform: translateX(26px);
          }
        }
      }
    }

    .tabcontent {
      display: flex;
      min-height: 100px;
      flex-wrap: wrap;
  
      p {
        width: fit-content;
        height: fit-content;
        color: black;
        cursor: default;
        font-size: large;
        border-radius: 50px;
        padding: 1px 15px;
        margin: 10px 8px;
        background-color: var(--color_p);
      }

      .skill{
        position: relative;
  
        .level{
          visibility: hidden;
          width: 112px;
          background-color: var(--color);
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
  
      .skill:hover .level {
        visibility: visible;
        opacity: 1;
      }

      #soft_skills{
        display: none;
      }
    }
  }
}

@keyframes glow{
  from{
    box-shadow: 0 0 20px black, 0 0 30px rgb(30, 30, 255);
  }
  to{
    box-shadow: 0 0 20px black, 0 0 30px rgb(20, 20, 255), 0 0 40px rgb(0, 0, 255);
  }
}

@keyframes flash-anim{
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@media screen and (max-width: 900px) {
  #home{
    li {
      width: 100%;
    }
    .info, #info_text{
      flex-direction: column;
    }
    .info img{
      margin: 1rem;
    }
    #contact, #about{
      width: 100%;
      border-left: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}