body{
    background-color: rgb(0,70,15);
}
.frame{
    background-color: rgb(20,20,20);
    width: 40%;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header{
    color: white;
    text-align: center;
}
hr{
    border: solid white 1px;
    box-shadow: 0 0 10px green, 0 0 20px rgb(0,170,0), 0 0 10px rgb(0,255,0);
}
pre{
    text-align: center;
    height: 20px;
}
article{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
img{
   width: 19%;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    color: white;
    font-weight: bold;
    background-color: rgb(0,70,30);
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: 0 5px;
}
#result{
   font-size: 20px;
   font-weight: bold;
}
#game_over{
   font-size: 30px;
   font-weight: bold;
}
#reset{
    background-color: red;
}
#alert{
    padding: 20px;
    background-color: #ff9800;
    opacity: 1;
    transition: opacity 1s;
    border-radius: 10px;
    position: fixed;
    margin: 5px;
    left: 5px;
    right: 5px;
    bottom: 0;
}
#closebtn{
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .frame{
        width: 95%;
    }
    #game_over{
        font-size: 20px;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    button{
        margin: 10px;
        width: 80%;
    }
}