body{
    margin: 0;
    padding: 0;
    background-color: #202020;
}
canvas {
    position: relative;
    background-color: powderblue;
    left: 50%;
    transform: translateX(-50%);
}
#sonic{
    position: absolute;
    width: 50px;
    height: 50px;
}