@media screen and (max-width: 1000px) {
    header {
        display: none;
    }

    section {
        width: 100%;
    }

    #home {
        #homeContainer {
            grid-template-areas: 'info info info'
                '. img .'
                'quote quote quote';
            gap: 0;
            row-gap: 1rem;

            #quotes {
                padding: 0.1rem;
            }
        }
    }

    #aboutMe {
        #aboutMeInfo {
            padding: 0.1rem;
        }

        table {
            display: none;
        }

        .education-experience {
            flex-direction: column;

            &::before,
            &::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #startUp {
        width: 100%;
        overflow: hidden;
        left: 50%;

        #startupDesktop {
            display: none;
        }

        #startupMobile {
            display: block;
            width: 100%;

            svg {
                display: flex;
                justify-content: center;
                scale: 0.7;
            }
        }
    }
}