#home {
    #homeContainer {
        display: grid;
        grid-template-areas: 'info img'
            'quote quote';
        gap: 2rem;
        font-size: larger;

        #homeInfo {
            position: relative;
            grid-area: info;
            padding: 0.5rem 1rem;
            border: 2px dashed $mainColor;
            font-size: larger;
            overflow: hidden;

            h2 {
                color: $mainColor;
                text-transform: capitalize;
            }

            #fullname {
                color: $mainColor;
                text-transform: capitalize;
            }

            #fields {
                display: flex;
                gap: 0.2rem;
                padding: 0.7rem 0;
                cursor: default;

                p {
                    @include pill;
                    font-size: large;
                }
            }

            #shortInfo {
                font-family: 'averia';
            }

            #socialLinks {
                position: relative;
                margin-top: 1rem;
                width: 100%;

                a {
                    padding: 0 0.2rem;
                    text-decoration: none;
                    float: right;

                    img {
                        width: 2rem;
                    }
                }
            }
        }

        #avatar {
            grid-area: img;
            width: 19rem;
            height: 100%;
            border: 0.3rem ridge $mainColor;
        }
    }
    #quotes {
        grid-area: quote;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;

        #author {
            color: $mainColor;
        }
    }
}