* {
    margin: 0;
    padding: 0;
    font-family: 'dancing';
    color: $fontColor;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

section:not(:first-child) {
    padding-top: 10rem;
}

.hide {
    display: none;
}

main {
    animation: fadein 1s linear forwards;
}