#startUp {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 1s linear forwards, fadeout 1s 2.5s linear forwards;

    #startupMobile {
        display: none;
    }

    svg {
        g {
            path {
                stroke-dasharray: 100000;
                stroke-dashoffset: 100000;
                animation: startup-anim 15s linear forwards;
                visibility: hidden;
            }

            path:nth-child(2) {
                animation-delay: 1s;
            }

            path:nth-child(3),
            path:nth-child(4) {
                animation-delay: 1.3s;
            }

            path:nth-child(5) {
                animation-delay: 1.6s;
            }

            path:nth-child(6) {
                animation-delay: 2s;
            }
        }
    }
}